# Server Name       Server Address
# Primary targets to monitor
[Target]
01.HK           69.165.67.96
01.CN           117.24.4.107
01.KR           211.254.4.45
01.JP           156.227.232.115
02.US           208.94.244.154
VPN.US          208.94.244.157
OTA.US          208.94.244.158
JUSTHOST.US     173.254.28.219

# Benchmark/baseline servers
[Reference]
GitHub          github.com
Google          google.com